.App {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, rgb(0, 200, 255), rgb(118, 130, 255));
}
/* .watch
{
  padding: 600px;
} */
